name: Build
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: sudo apt update && sudo apt install -y python3-pip openjdk-11-jdk
    - run: pip3 install buildozer cython
    - run: echo $'[app]\ntitle=SINUX\npackage.name=sinux\nrequirements=python3' > buildozer.spec
    - run: buildozer android debug
    - uses: actions/upload-artifact@v4
      with:
        name: apk
        path: bin/*.apk
