name: Build APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup
      run: |
        sudo apt update
        sudo apt install -y python3-pip
        pip3 install buildozer
        
    - name: Build
      run: |
        echo '[app]
title = SINUX
package.name = sinux
requirements = python3' > buildozer.spec
        buildozer android debug
        
    - uses: actions/upload-artifact@v4
      with:
        name: apk
        path: bin/*.apk
