name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install tools
        run: |
          sudo apt update
          sudo apt install -y python3-pip openjdk-11-jdk
          pip3 install buildozer cython
          
      - name: Create config
        run: |
          echo '[app]' > buildozer.spec
          echo 'title = SINUX OS' >> buildozer.spec
          echo 'package.name = sinux' >> buildozer.spec
          echo 'package.domain = org.test' >> buildozer.spec
          echo 'source.dir = .' >> buildozer.spec
          echo 'version = 1.0' >> buildozer.spec
          echo 'requirements = python3' >> buildozer.spec
          echo 'android.permissions = INTERNET' >> buildozer.spec
          
      - name: Build APK
        run: buildozer android debug
          
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: sinux-apk
          path: "**/*.apk"
