name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install tools
        run: |
          sudo apt update
          sudo apt install -y python3-pip
          pip3 install buildozer
      - name: Create config
        run: |
          echo '[app]' > buildozer.spec
          echo 'title = SINUX' >> buildozer.spec
          echo 'package.name = sinux' >> buildozer.spec
          echo 'requirements = python3' >> buildozer.spec
      - name: Build APK
        run: buildozer android debug
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: sinux-apk
          path: bin/*.apk
